/* Remove the navbar's default rounded borders and increase the bottom margin */ 
body{
    padding-top: 50px;
}

.navbar{
    margin-bottom: 50px;
     border-radius: 0;
}
    
   
/* Add a gray background color and some padding to the footer */
footer{
    background-color: #f2f2f2;
    padding: 25px;
    margin-bottom: 0px;
}

.carouselImage{
    width: 100%;
    
}

.signuppg{
    margin-top: 150px;
}

#loginpg{
    margin-top: 150px;
}

#loginBody{
    background-color: deepskyblue;
}

h2{
	color:#777777;
	margin-left:20px;
}
.products{
	padding:25px 10px 16px 15px;
	border:1px solid #777777;
	border-radius:4px;
	margin-bottom:10px;
}

.middle{
	transition:.5s ease;
	opacity:0;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%)
}

.products:hover .middle{
	opacity: 1;

}

.text{
	background-color: #777777;
    color: #ffffff;
    font-size: 16px;
    padding: 16px 32px;
}

.text:hover{
	color:#red;
}

.text:hover{
	text-decoration:none;
}
.item{
	color:#777777;
	text-align:center;
	font-size:25px;
	padding:10px 20px;
	margin-left:145px;
	
}

.item:hover{
	text-decoration:none;
}

.button,.wishlist{
	background-color:#777777;
    border:none;
	color:#ffffff;
	padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
	position:static;
	width:165px;
	/*mrgin:10px 15px 15px 15px;*/
	margin-left:25px;
}

.button:hover,.wishlist:hover{
	background-color:#e3e3e3;
	text-decoration:none;
	
}
.button:active,.wishlist:active{
	background-color:#ffffff;
}

.img-responsive{
	height:350px;
	width:auto;
	position:relative;
	margin-left:10px;
	
}

/*featured products*/
.productinfo{
	position:center;
	text-align:center;
	margin-left:10px;
}

.modal-body{
	padding:40px;
}

/****************Product rating******************/
@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

fieldset,label{
	margin:0;
	padding:0;
	margin-bottom:20px;
}

.rating{
	border:none;
	float:left;
}

.rating > input{
	display:none;
}

.rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}


.rating > .half:before { 
    content: "\f089";
    position: absolute;
}

.rating > label { 
    color: #ddd; 
    float: right; 
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


