/* Remove the navbar's default rounded borders and increase the bottom margin */ 
body{
    padding-top: 50px;
}

.navbar{
    margin-bottom: 50px;
     border-radius: 0;
}
    
   
/* Add a gray background color and some padding to the footer */
footer{
    background-color: #f2f2f2;
    padding: 25px;
    margin-bottom: 0px;
}

.carouselImage{
    width: 100%;
    
}

.signuppg{
    margin-top: 150px;
}

#loginpg{
    margin-top: 150px;
}

#loginBody{
    background-color: deepskyblue;
}

h2{
	color:#777777;
	margin-left:20px;
}
.products{
	padding:25px 10px 16px 15px;
	border:1px solid #777777;
	border-radius:4px;
	margin-bottom:10px;
}

.middle{
	transition:.5s ease;
	opacity:0;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%)
}

.products:hover .middle{
	opacity: 1;

}

.text{
	background-color: #777777;
    color: #ffffff;
    font-size: 16px;
    padding: 16px 32px;
}

.text:hover{
	color:#red;
}

.text:hover{
	text-decoration:none;
}
.item{
	color:#777777;
	text-align:center;
	font-size:25px;
	padding:10px 20px;
	margin-left:145px;
	
}

.item:hover{
	text-decoration:none;
}

.button,.wishlist{
	background-color:#777777;
    border:none;
	color:#ffffff;
	padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
	position:static;
	width:165px;
	/*mrgin:10px 15px 15px 15px;*/
	margin-left:25px;
}

.button:hover,.wishlist:hover{
	background-color:#e3e3e3;
	text-decoration:none;
	
}
.button:active,.wishlist:active{
	background-color:#ffffff;
}

.img-responsive{
	height:350px;
	width:auto;
	position:relative;
	margin-left:10px;
	
}

/*featured products*/
.productinfo{
	position:center;
	text-align:center;
	margin-left:10px;
}



