/* Remove the navbar's default rounded borders and increase the bottom margin */ 
body{
    padding-top: 50px;
}

.navbar{
    margin-bottom: 50px;
     border-radius: 0;
}
    
   
    /* Add a gray background color and some padding to the footer */
footer{
    background-color: #f2f2f2;
    padding: 25px;
}

.carouselImage{
    width: 100%;
    height: auto;
}

.centered-form{
    margin-top: 65px;
}

.centered-form .panel{
    background: rgba(255,255,255,0.8);
    box-shadow: rgba(0,0,0,0.3)20px 20px 20px;
}

